.basketTable {
  width: 100%;
  font-weight: 400;
}

.basketTable > thead > tr {
  display: flex;
  place-content: center;
  align-content: center;
  border-bottom: 1px solid rgba(189, 195, 195, 0.7);
}

.basketTable > thead > tr > th {
  font-weight: 200;
}

.basketTable th:nth-child(1) {
  flex: 7;
}

.basketTable th:nth-child(2) {
  flex: 2;
}

.basketTable th:nth-child(3) {
  flex: 2;
}

.basketTable th:nth-child(4) {
  flex: 1;
}
