.close-button {
  background-color: white;
  cursor: pointer;
  color: black;
  transition: border-color 0.2s;
}

.close-button:hover {
  border-color: black;
}

.rowWrapper {
  display: flex;
  /* margin-bottom: 3vh; */
  max-height: 10em;
  margin-top: 3vh;
  padding-bottom: 3vh;
  border-bottom: 1px solid rgba(189, 195, 195, 0.5);
}
.rowWrapper > * {
  display: flex;
  flex: 2;
  place-content: center;
  align-items: center;
}

.productContainer {
  display: flex;
  flex-direction: row;
  flex: 7;
  text-align: start;
}

.quantityContainer {
}

.priceContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.priceContainer > div {
  width: 100%;
  font-size: small;
  font-weight: 700;
  color: green;
  /* -webkit-text-stroke: 0.1px black; */
  margin: 1px;
  border-top: 1px solid rgba(189, 195, 195, 0.5);
}

.removeItemContainer {
  flex: 1;
}

.rowHeaderInnerContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.rowHeaderSection {
  flex: 3;
  font-size: 18px;
}

.rowHeaderImage {
  flex: 1;
  height: 100%;
  width: 100%;
  text-align: center;
}
.image {
  text-align: center;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
