#cart {
    border: 4px solid #ccc;
    border-radius: 2%;
    width: 70%;
    min-width: 800px;
    
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 1%;
   
  }


  #cart table {
    border-collapse: collapse;
    width: 100%;
    text-align: end;
    
  }

  #cart table thead th{
    padding-bottom: 14px;
  }
  
  #cart table th,
  #cart table td {
    padding: 4px;
    text-align: right;
  }

  #cart table th {
    font-weight: bold;
  }

  #cart table tfoot td{
 
    font-weight: bold;
    padding-top: 20px;
  }