

.formContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}

.label {
    display: table-cell;
    padding: 7px;
}
.input {
    display: flex;
    width: 15em;
}
.form {
    margin:auto;
    text-align: center;
}